.form-container {
    padding: 2.5rem;
    background-color: #ffffff;
    border-radius: 1rem;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    margin-bottom: 2.5rem;
    border: 1px solid #e5e7eb;
}

.form-container h3 {
    text-align: center;
    font-size: 1.5rem; 
    font-weight: 600; 
    color: #1f2937; 
    margin-bottom: 2rem;
    border-bottom: 2px solid #e6e5eb; 
    padding-bottom: 1rem;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 1.25rem; 
}

.form-group label {
    font-size: 0.875rem;
    font-weight: 600; 
    color: #374151; 
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 0.75rem 1rem;
    border: 1px solid #d1d5db;
    border-radius: 0.5rem;
    transition: all 0.2s;
    background-color: #f9fafb; 
}

.form-group input:focus,
.form-group textarea:focus {
    outline: none;
    border-color: #3b82f6;
    box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.2); 
    background-color: #ffffff;
}


#submit-button {
    background-color: #3b82f6; /* Color azul */
    color: #ffffff;
    font-weight: 700;
    padding: 0.75rem 1.5rem;
    border-radius: 0.5rem;
    transition: background-color 0.3s ease;
    border: none;
    cursor: pointer;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}

#submit-button:hover {
    background-color: #2563eb; 
    transform: translateY(-2px); 
    box-shadow: 0 6px 8px -1px rgba(0, 0, 0, 0.15);
}



